html {
  text-align: center;
}

h3 {
  padding: 20px;
  font-size: 30px;
}

.coordForm {
  padding: 20px;
}

.cell {
  width: 60px;
  height: 60px;
  border: 1px 	#76b6c4 solid;
  padding: 20px;
}

header {
  background-color:	#1da2d8;
}

div.cell {
  background-color: #064273;
}

.row {
  display: flex;
  justify-content: center;
}
